* {
    -fx-background-base: #434343;
    -fx-background-hue1: derive(-fx-background-base, 110%);
    -fx-background-hue2: derive(-fx-background-base, -10%);
    -fx-background-hue3: derive(-fx-background-base, -35%);
    -fx-text-base: rgb(190, 190, 190);
}

.error-box {
    -fx-background-color: -fx-background-base;
}

.error-box .label {
    -fx-text-fill: -fx-text-base;
}

.error-box .error-label {
    -fx-font-size: 25px;
    -fx-text-fill: orangered;
}

.error-box .error-message {

}

.error-box .button:default{
    -fx-background-color:
            rgb(74, 177, 141),
            linear-gradient(rgb(148, 255, 179), rgb(143, 255, 116)),
            linear-gradient(rgb(219, 252, 228) 0%, rgb(231, 252, 233) 49%, rgb(196, 250, 210) 50%, rgb(152, 245, 139) 60%) !important;
}

.error-box .button:hover {
    -fx-opacity: 0.7;
}

.error-box .text-area {
    -fx-text-fill: -fx-text-base;
}

.error-box .text-area .content {
    -fx-background-color: -fx-background-hue3;
}
