* {
    -fx-background-base: #434343;
    -fx-background-hue1: derive(-fx-background-base, 110%);
    -fx-background-hue2: derive(-fx-background-base, -10%);
    -fx-background-hue3: derive(-fx-background-base, -35%);
    -fx-text-base: rgb(190, 190, 190);
}

.box-background{
    -fx-background-color: -fx-background-base;
}

.label {
    -fx-text-fill: -fx-text-base;
}

.full-title {
    -fx-font-size: 22px;
}

.grid-item-left .label {
    -fx-text-fill: orange;
}

.grid-item {
    -fx-padding: 2px;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.tag {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
    -fx-padding: 2px;
}

.gallery-thumb-image-container{
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.gallery-thumb-image-container:hover{
    -fx-border-color: rgb(215, 133, 25) !important;
    -fx-opacity: 90%;
}

.gallery-thumb-image-container:focused{
    -fx-border-color: rgb(215, 133, 25) ;
}

.gallery-thumb-image-container:pressed{
    -fx-border-color: rgb(215, 133, 25) ;
    -fx-opacity: 70%;
}
