* {
    -fx-background-base: #434343;
    -fx-background-hue1: derive(-fx-background-base, 110%);
    -fx-text-base: rgb(190, 190, 190);
}

.label{
    -fx-text-fill: -fx-text-base;
}

.button{
    -fx-background-color: -fx-background-hue1
}

.button:hover{
    -fx-opacity: 70%;
}

.button:default{
    -fx-background-color:
            rgb(74, 177, 141),
            linear-gradient(rgb(148, 255, 179), rgb(143, 255, 116)),
            linear-gradient(rgb(219, 252, 228) 0%, rgb(231, 252, 233) 49%, rgb(196, 250, 210) 50%, rgb(152, 245, 139) 60%);
}


.button:cancel{
    -fx-background-color:
            rgb(177, 64, 58),
            linear-gradient(rgb(255, 88, 86), rgb(255, 73, 57)),
            linear-gradient(rgb(252, 195, 183) 0%, rgb(252, 128, 121) 49%, rgb(250, 134, 147) 50%, rgb(245, 61, 62) 60%);
}

