* {
    -fx-background-base: #434343;
    -fx-background-hue1: derive(-fx-background-base, 110%);
    -fx-background-hue2: derive(-fx-background-base, -10%);
    -fx-background-hue3: derive(-fx-background-base, -35%);
    -fx-text-base: rgb(190, 190, 190);
}

.label{
    -fx-text-fill: -fx-text-base;
}

.gallery-thumb-image-container{
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.gallery-thumb-image-container:focused{

}

.button{
    -fx-background-color: -fx-background-hue1;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.button:hover{
    -fx-border-color: rgb(215, 133, 25) ;
    -fx-opacity: 70%;
}

.button:focused{
    -fx-border-color: rgb(215, 133, 25) ;
}

.button:default{
    -fx-background-color:
            rgb(74, 177, 141),
            linear-gradient(rgb(148, 255, 179), rgb(143, 255, 116)),
            linear-gradient(rgb(219, 252, 228) 0%, rgb(231, 252, 233) 49%, rgb(196, 250, 210) 50%, rgb(152, 245, 139) 60%);
}


.button:cancel{
    -fx-background-color:
            rgb(177, 64, 58),
            linear-gradient(rgb(255, 88, 86), rgb(255, 73, 57)),
            linear-gradient(rgb(252, 195, 183) 0%, rgb(252, 128, 121) 49%, rgb(250, 134, 147) 50%, rgb(245, 61, 62) 60%);
}

.root-container{
    -fx-background-color: -fx-background-base;
}

.top-container{
    -fx-background-color: -fx-background-hue2;
}


.progress-menu{
    -fx-background-color: -fx-background-hue3;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.progress-menu:hover{
    -fx-border-color: rgb(215, 133, 25) ;
    -fx-opacity: 70%;
}

.progress-menu:pressed{
    -fx-border-color: rgb(248, 82, 25);
    -fx-opacity: 50%;
}

.progress-menu:focused{
    -fx-border-color: rgb(215, 133, 25) ;
}