* {
    -fx-background-base: #434343;
    -fx-background-hue1: derive(-fx-background-base, 110%);
    -fx-background-hue2: derive(-fx-background-base, -10%);
    -fx-background-hue3: derive(-fx-background-base, -35%);
    -fx-text-base: rgb(190, 190, 190);
}

.gallery-thumb{
    -fx-border-color: transparent;
    -fx-border-width: 2;
}

.view-list-button{
    -fx-graphic: url("ic_list_white_18dp_1x.png") !important;
}

.watches-button{
    -fx-graphic: url("ic_visibility_white_18dp_1x.png") !important;
    -fx-background-color: -fx-background-hue3 !important;
}

.view-gallery-button{
    -fx-graphic: url("ic_grid_on_white_18dp_1x.png") !important;
}

.view-settings-button{
    -fx-graphic: url("ic_settings_white_18dp_1x.png") !important;
}

.show-filters-button{
    -fx-graphic: url("ic_filter_list_white_18dp_1x.png") !important;
}

.show-sort-button{
    -fx-graphic: url("ic_sort_white_18dp_1x.png") !important;
}

.label{
    -fx-text-fill: -fx-text-base;
}


.root-container{
    -fx-background-color: -fx-background-base;
}

.top-container{
    -fx-background-color: -fx-background-hue3;
}


.pagination {
    -fx-page-information-visible: false;
}

.pagination .pagination-control {
}

.pagination{
    -fx-base:black;
}
.pagination .toggle-button {
    -fx-shape:"m74.63,72.21494l14.50002,-14.49994l14.49998,14.49994l-14.49998,14.50002l-14.50002,-14.50002z";
    -fx-background-radius:3px;
}
.pagination .button{
    -fx-padding: 8 10 8 10px;
    -fx-background-radius:0px; /* This is used for making the Arrow Button Curve*/
}

.search-term {
    -fx-shape: "M 250 100 L 300 100 L 250 300 Z"
}

.search-term-flip {
    -fx-shape: "M 0 0 L 1 0 L 1 1 Z";
}

.search-term-box {
    -fx-background-color: -fx-background-hue3;
}



.minimal-textfield {
    -fx-text-fill: deepskyblue;
    -fx-highlight-fill: whitesmoke;
    -fx-highlight-text-fill: whitesmoke;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: -fx-background-hue3;

    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-cursor: text;
    -fx-padding: 0;
}
.minimal-textfield:focused {
    -fx-highlight-fill: whitesmoke;
    -fx-highlight-text-fill: black;
    -fx-background-color: -fx-background-hue3;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: transparent;
}

.diamon-button {
    -fx-padding: 0px;
}

.next-page {
    -fx-graphic: url("ic_keyboard_arrow_right_white_18dp_1x.png") !important;
}

.last-page {
    -fx-graphic: url("ic_fast_forward_white_18dp_1x.png") !important;
}

.first-page {
    -fx-graphic: url("ic_fast_rewind_white_18dp_1x.png") !important;
}

.previous-page {
    -fx-graphic: url("ic_keyboard_arrow_left_white_18dp_1x.png") !important;
}

.slider .axis {
    -fx-tick-label-fill: -fx-text-base;
}

.clear-button {
    -fx-graphic: url("ic_clear_white_18dp_1x.png") !important;
}



/****************************************************************

  ScrollBar Skin

****************************************************************/
.scroll-bar{
    -fx-background-color: rgb(96,96,96);
    -fx-background-radius: 0em;
    -fx-padding: 0;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 0em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(211,211,211);
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: rgb(211,211,211);
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: rgb(211,211,211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}


.split-menu-button {
    -fx-background-color: -fx-background-base;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-graphic: url("ic_sort_white_18dp_1x.png");
}
.split-menu-button > .label {
    -fx-text-fill: -fx-text-base;
    -fx-background-color: -fx-background-base;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.333333em 0.667em 0.333333em 0.667em; /* 4 8 4 8 */
}
.split-menu-button > .arrow-button {
    -fx-background-color: -fx-background-base;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.5em 0.667em 0.5em 0.667em; /* 6 8 6 8 */
}
.split-menu-button:focused {
    -fx-background-color: -fx-focus-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.split-menu-button:focused > .label {
    -fx-background-color: -fx-background-base;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.split-menu-button:focused > .arrow-button {
    -fx-background-color: -fx-background-base;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.context-menu {
    -fx-background-color: -fx-background-base;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
    -fx-effect: Null;
}
.context-menu .separator:horizontal .line {
    -fx-border-color: -fx-background-base;
    -fx-border-insets: 0 0 0 0;
}
.context-menu > .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 */
    -fx-background-color: transparent;
}
.context-menu > .scroll-arrow:hover {
    -fx-background: -fx-selection-bar;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-text-background-color;
}
/*.context-menu:show-mnemonics > .mnemonic-underline {*/
    /*-fx-stroke: -fx-text-fill;*/
/*}*/