* {
    -fx-background-base: #434343;
    -fx-background-hue1: derive(-fx-background-base, 110%);
    -fx-background-hue2: derive(-fx-background-base, -10%);
    -fx-background-hue3: derive(-fx-background-base, -35%);
    -fx-text-base: rgb(190, 190, 190);
}

.settings-view {
    -fx-background-color: -fx-background-base;
}

.settings-view .separator *.line {
}

.settings-view .split-pane:vertical > * > .split-pane-divider {
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.settings-view .split-pane {
    -fx-border-color: -fx-background-hue3;
    -fx-border-width: 5;
    -fx-padding: 0;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-width: 1;
    -fx-padding: 2;
    -fx-background-color: -fx-background-hue3;
    -fx-border-color: -fx-background-hue3;
}

.ings-button{
    -fx-background-color: -fx-background-hue1;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 0px!important;
    -fx-background-radius: 0px !important;
    -fx-padding: 2 2 2 2;
    -fx-graphic: url("ic_play_arrow_white_18dp_1x.png");
}