
.watch-scroll > .viewport {
    -fx-background-color: transparent;
}

.watch-scroll {
    -fx-background-color: transparent;
}
.selected-items {
    -fx-background-color: -fx-background-hue3;
    -fx-shape: "M 0 0 L 1 1 L 1 0 Z"
}



